%centeredText {
	text-align: center;
}

.hidden {
	display: none;
	overflow: hidden;
	opacity: 0;
}

.tabContainer {
	position: relative;
	bottom: 25px;
	width: fit-content;
	margin: 0 auto;
}

.flexBoard {
	display: flex;
	width: 90%;
	flex-flow: row wrap;
	justify-content: center;
	margin: 20px auto;
}

.adaptiveCard {
	position: relative;
	margin: 2.5%;
	padding: 3%;
	overflow: hidden;
	flex: 1 1 auto;
	max-width: 350px;

	& .status {
		color: #ADADAD;
		margin: 2.5% 0 10%;
	}

}

:global(.MuiFlatPagination-root) {
	text-align: center;
}

.modelPage {
	width: 90%;
	margin: auto;
	@extend %centeredText;
}
